
section.section.header
    .title__block
        .left-block 
            a(href="index.html").left-block__title Bars Hub
        .right-block
            .right-block__title Broken Axle Recovery System.
    ul.menu-block
        li.list__hide
            .list__menu.list__menu--up
            .list__menu.list__menu--middle
            .list__menu.list__menu--bottom
        li.list__item#list__item
            a(href="index.html").list__link Домой
        li.list__item
            a(href="buy.html").list__link Купить 
            ul.sub-list
                li.sub-list__item
                    a(href='card.html').sub-list__link  Карта
                li.sub-list__item
                    a(href='buy.html').sub-list__link  Купить
                li.sub-list__item
                    a(href='myAcount.html').sub-list__link  Мой кабинет          
        li.list__item
            a(href="faqs.html").list__link Вопросы  
        li.list__item
            a(href="contact.html").list__link Контакты 
        .container__search 
            input(type="text").container__input
            .fa.fa-search(aria-hidden="true")  
.c1 