ul.menu-block
    li.list__item
        a(href="index.html").list__link Домой
    li.list__item
        a(href="buy.html").list__link Купить 
        ul.sub-list
            li.sub-list__item
                a.sub-list__link  карта
            li.sub-list__item
                a.sub-list__link  купить
            li.sub-list__item
                a.sub-list__link  мой кабинет          
    li.list__item
        a(href="faqs.html").list__link Часто задаваемые вопросы  
    li.list__item
        a(href="contact.html").list__link Связаться с нами 