extends ../template

block variables
  - var title = 'BursHub'
block content
  include ../common/header
  include ../common/menu
  .block-buy
    .block-buy__title 
      a(href="http://index.html") Home / Dana 35 C-Clip BARS Hub
    .block-buy__left
      .block-buy__image
      
    .block-buy__right
    
      
    

  .aside-buy
  include ../common/footer