extends ../template

block variables
  - var title = 'BursHub'
block content
  include ../common/header
  include ../common/menu
  .block-buy
    
    .block-left
      .block-buy__title Домой / Dana 35 C-Clip BARS Hub
      a.block-buy__link(href="")
        img.block-buy__image(src="./assets/images/IMG_20150911_143703-600x600.jpg", alt="")
       
      
    .block-right
      .block-right__product Dana 35 C-Clip BARS Hub
      .block-price
        strike.block-right__price.block-right__price--sale  $259.00 
        .block-right__price $189.00
      .block-right__stock 27 на складе
      .block-right__order 
        input.block-right__number(type="number" step="1" min="1" max="27" value="1")
        button.block-right__card(type="submit") Добавить карту

    
      
    

    .aside-buy
      img.asade__pick(src="./assets/images/bars-sidebar.png", alt="")
  include ../common/footer