extends ../template

block variables
  - var title = 'BursHub'
block content
    include ../common/header
    include ../common/menu
    .card-block   
      .card__title Карта
      .card__descrepences Вашей карты нет в данный момент
      button.card__button.block-right__button  Вернуться в магазин
      .card__pic  
        img(src="http://www.barshub.com/wp-content/uploads/2015/02/bars-sidebar.png", alt="")