extends ../template

block variables
  - var title = 'BursHub'
block content
  include ../common/header
  include ../common/menu
  .contact-block
    .contact-block__title Часто задаваемые вопросы
    .faq-block__descrip Вопрос: Что такое BARS Hub?
      .fag-block__answer BARS Hub - это колесный ступица системы разломимых осей, которые соединяются с полунавесной задней осью, которая обеспечивает свободное вращающееся колесо с тормозами и уплотнениями от масла трансмиссионного масла, что приводит к большему повреждению оси.
    .faq-block__descrip Вопрос: Насколько сильным является BARS Hub?  
      .fag-block__answer  Концентратор BARS подвергается термической обработке для дополнительной прочности и кислоте, смоченной для защиты от коррозии. В тестах мы пытались сломать хаб, направляющийся по выбоинам и очень грубый путь на высоких скоростях, но он не сломался. Боковое зеркало действительно оторвалось, хотя из-за грубых дорожных испытаний. Вы можете увидеть его на видео на главной странице веб-сайта. Мы не рекомендуем ездить, как то, что было сделано при тестировании. Концентратор не одобрен DOT. Мы уверены, что центр BARS поможет вывести вашу вышку и близких из тропы в безопасное место после поломки задней оси.
    .faq-block__descrip Вопрос: Каков размер концентратора BARS?
      .fag-block__answer A: The BARS Hub is about 6” X 5.5” and weighs about 10 pounds (depending on the model). For those of us who bring along 2 axle shafts, locker, bearings, gear oil, ring and pinion the BARS Hub is a breath of fresh air. BARS Hub does take up much space and it is very easy to pack.
    .faq-block__descrip   Как это работает?
      .fag-block__answer Если ваша ось является осью C-образной шестерни, вал уже будет выходить из корпуса. Все, что вам нужно сделать, - поднять буровую установку и вывести вал оси, открутить болты, удерживающие опорную плиту ваших тормозов, и сдвинуть ступицу BARS в конце корпуса оси, герметизируя трансмиссионное масло, и использовать те же болты на чтобы закрепить BARS Hub на вашем корпусе моста. Сдвиньте тормозной барабан через ступицу BARS и закрепите тормоз, затем закрепите свою шину и отпустите в переднем колесе. Установка занимает всего несколько минут, как изменение взгляда.
    .faq-block__descrip Почему вы создали BARS Hub?
      .fag-block__answer  Я сломал ось так же, как и друзья, тормозные оси. Это не весело, пытаясь сойти с горы посреди ночи. Последний раз был в гонке Короля Молотов, и мы были на Троне Дверных дверей. После того, как Джерри смонтировал что-то, мы смогли сойти с тропы медленнее, чем скорость ходьбы в 4:00 утра. Это было не весело. Если бы у нас был BARS Hub, мы могли бы выехать без проблем с 3-х колесным диском благодаря шкафчикам.Эта история произошла с моим приятелем, который является самым подготовленным внедорожником, который я знаю. Он приносит на всякий случай сварщика и инструменты с маслом оси и кольцом и шестерней, но он не готовился к тому, что произошло. BARS Hub был бы и легко исправить.
  include ../common/footer    


