extends ../template

block variables
  - var title = 'BursHub'
block content
  include ../common/header
  include ../common/menu
  section.section
    img(src="./assets/images/bars-hub-slider.jpg", alt="")
    .icon-bars-hub-slider    
  include ../common/footer