extends ../template

block variables
  - var title = 'BarsHub'
block content
  section.slider
    ul.js__slider__images.slider__images
      li.slider__images-item
        img.slider__images-image(src="./assets/images/bars-hub-slider.jpg" alt="First slide")
      li.slider__images-item  
        img.slider__images-image(src="./assets/images/bars-hub-slider3.jpg" alt="Second slide")
      li.slider__images-item
        img.slider__images-image(src="./assets/images/bars-hub-slider4.jpg" alt="Second slide")
      li.slider__images-item
        img.slider__images-image(src="./assets/images/bars-hub-slider5.jpg" alt="Second slide")
    .slider__controls    
      .slider__control.js__slider__control--prev.slider__control--prev
      ol.js__slider__pagers.slider__pagers
      .slider__control.js__slider__control--next.slider__control--next
  section.icons-block
    .icons-block__item 
      .icons-block__list
        .icons-block__pic
          .icons-block__img.icons-block__img--fire
        .icons-block__title Единственный в своем роде дизайн
        .icons-block__descpiction BARS Hub - это простой надежный дизайн ступицы колес, который даст вам душевное спокойствие, чтобы управлять большими шинами во время езды по бездорожью. BARS Hub - это первый в своем роде инструмент для восстановления мостиковой оси, который требует всего лишь минут для установки, и вы вернулись на тропу к безопасности. Небольшой размер и легко упаковывается на след. BARS Hub скоро станет инструментом необходимости на внедорожной установке, такой как огнетушитель
      .icons-block__list
        .icons-block__pic
           .icons-block__img.icons-block__img--dollar
        .icons-block__title Лидер отрасли
        .icons-block__descpiction BARS Hubs является лидером восстановления сломанной оси, потому что нет ничего подобного. Вы, эфир, исправляете все, что сломано на пробной версии, чтобы получить мобильную станцию ​​или диск с поврежденной осью пробной версии, нанеся еще 1000 долларов урона вашей оси.
      .icons-block__list
        .icons-block__pic
           .icons-block__img.icons-block__img--time
        .icons-block__title Экономит Ваше время-
        .icons-block__descpiction Я, как и многие из вас, читающих это, имел или был с кем-то, кто сломал ось на тропе и провел много часов или даже дней, чтобы вернуть машину домой. В течение нескольких минут после размыкания оси BARS Hub может быть прикреплен болтами к корпусу оси с активным дисковым или барабанным тормозом, при условии, что приводная машина возвращается в безопасное место.    
    .title
      .title__text БАРС БУДЕТ РЕВОЛЮЦИОНИТЬ ПУТЬ, ЧТО ВЫ ДУМАЕТЕ 4X4
      .title__decs Наша современная система Bars Hub отличается от всего остального на рынке. Он будет обрабатывать весь износ, который вы можете на него нанести. Плюс это сэкономит вам время и деньги!
  section.main
    .main-block
      .main-title Почему именно BARS Hub? Честно говоря, есть ли другой выбор?
        iframe.youtube-block(width="640" height="390" src="https://www.youtube.com/embed/NqM0Z6PzoMI" frameborder="0" gesture="media" allowfullscreen)
      .main__description Растение бездорожья и экстремальная прогулка по тропам стали популярнее у водителей воскресной тропы до экстремальных авантюристов. Безопасность и надежность буровых установок являются главным приоритетом. Перед тем, как отправиться на любую приключенческую подготовку, это ключ к возвращению домой в безопасное место. При ограниченном пространстве на буровой установке для аварийно-спасательного оборудования, инструментов и деталей требуется оборудование для экономии пространства. BARS Hub сэкономит вам время и деньги.<p>Когда шина уходит, вы меняете шину. Теперь, что вы будете делать, если ось вала или шкафчик или кольцо и шестерня сломаются? Вызов эвакуатора может быть дорогостоящим, и ребенок, несущий ось, чтобы сойти с тропы, может занять несколько дней, и в конечном итоге вам стоит больше денег на ремонт или замену всей оси из-за повреждения, вызванного безопасностью.Именно здесь BARS Hub становится необходимостью для тех, кто владеет джипом или уходит с дороги, чтобы играть.<p> Все права защищены, а дизайн BARS Hub запатентован. Концентратор BARS - это бесконтактный ступица с вращающейся осью, которая просто болтается с корпусом оси, при этом герметизируя масло дифференциального масла от утечки и обеспечивая фиксацию колес сломанной оси. После того, как ступица крепится болтами к корпусу задней оси, тормозной барабан или ротор будут скользить по ступице, тогда задняя шина будет закреплена болтами, а затем ваша установка будет приводиться в безопасное состояние переднего колеса.<p>Концентратор BARS не предназначен для замены задней оси или предназначен для длительного использования. Подобно тому, как используется запасная шина, BARS Hub используется, чтобы вытащить вас из тропы и где-то в безопасности.<p>Конкуренция BARS Hub даже не сравнивается. Используя этот продукт, сломанная ось создаст большую проблему, поскольку сломанные шестерни или ось разрушают весь дифференциал стоимостью тысячи долларов для исправления. У меня лично была эта проблема, а также с друзьями, которые сломали свою ось и знали о важности Базового Хаба. Последний раз был у короля молотов. Представьте, что мы пытались удержать шину под джипом, двигаясь по большим скалам. Если бы у нас был Bars Hub, управляющий безопасностью, это не было бы проблемой.
        iframe.youtube-block(width="640" height="390" src="https://www.youtube.com/embed/Hql-Js65Td4" frameborder="0" gesture="media" allowfullscreen)
    .aside  
      img(src="./assets/images/barshub-sidebar.png", alt="").aside__pic
  include ../common/footer
      


