extends ../template

block variables
  - var title = 'BursHub'
block content
  include ../common/header
  include ../common/menu
  section.slider
    ul.slider__list
      li.slider__item
        .slider__pick
  section.icons-block
    .icons-block__list
      .icons-block__pic
      .icons-block__title Единственный в своем роде дизайн
      .icons-block__descpiction BARS Hub - это простой надежный дизайн ступицы колес, который даст вам душевное спокойствие, чтобы управлять большими шинами во время езды по бездорожью. BARS Hub - это первый в своем роде инструмент для восстановления мостиковой оси, который требует всего лишь минут для установки, и вы вернулись на тропу к безопасности. Небольшой размер и легко упаковывается на след. BARS Hub скоро станет инструментом необходимости на внедорожной установке, такой как огнетушитель
    .icons-block__list
      .icons-block__pic
      .icons-block__title Лидер отрасли
      .icons-block__descpiction BARS Hubs является лидером восстановления сломанной оси, потому что нет ничего подобного. Вы, эфир, исправляете все, что сломано на пробной версии, чтобы получить мобильную станцию ​​или диск с поврежденной осью пробной версии, нанеся еще 1000 долларов урона вашей оси.
    .icons-block__list
      .icons-block__pic
      .icons-block__title Экономит Ваше время-
      .icons-block__descpiction Я, как и многие из вас, читающих это, имел или был с кем-то, кто сломал ось на тропе и провел много часов или даже дней, чтобы вернуть машину домой. В течение нескольких минут после размыкания оси BARS Hub может быть прикреплен болтами к корпусу оси с активным дисковым или барабанным тормозом, при условии, что приводная машина возвращается в безопасное место.    
  .title
    .title__text БАРС БУДЕТ РЕВОЛЮЦИОНИТЬ ПУТЬ, ЧТО ВЫ ДУМАЕТЕ 4X4
    .title__decs Наша современная система Bars Hub отличается от всего остального на рынке. Он будет обрабатывать весь износ, который вы можете на него нанести. Плюс это сэкономит вам время и деньги!
    
  include ../common/footer