block variables

doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet' href='./assets/styles/app.min.css')
        
    
    body
        
        .wrapper
            .content
                .header-content
                    section.section.header
                        .left-block 
                            a(href="index.html").left-block__title Bars Hub
                        .right-block
                            .right-block__title Broken Axle Recovery System.
                    ul.menu-block
                        li.list__item#list__item
                            a(href="index.html").list__link Домой
                        li.list__item
                            a(href="buy.html").list__link Купить 
                            ul.sub-list
                                li.sub-list__item
                                    a(href='card.html').sub-list__link  Карта
                                li.sub-list__item
                                    a(href='buy.html').sub-list__link  Купить
                                li.sub-list__item
                                    a(href='myAcount.html').sub-list__link  Мой кабинет          
                        li.list__item
                            a(href="faqs.html").list__link Вопросы  
                        li.list__item
                            a(href="contact.html").list__link Контакты    
                    
                     
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    script(src="/assets/scripts/app.js")     
        
