block variables

doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel='stylesheet' href='./assets/styles/app.min.css')
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        
    
    body
        
        .wrapper
            
            section.section.header
                .left-block 
                    a(href="index.html").left-block__title Bars Hub
                .right-block
                    .right-block__title Broken Axle Recovery System.
            ul.menu-block
                li.list__item#list__item
                    a(href="index.html").list__link Домой
                li.list__item
                    a(href="buy.html").list__link Купить 
                    ul.sub-list
                        li.sub-list__item
                            a(href='card.html').sub-list__link  Карта
                        li.sub-list__item
                            a(href='buy.html').sub-list__link  Купить
                        li.sub-list__item
                            a(href='myAcount.html').sub-list__link  Мой кабинет          
                li.list__item
                    a(href="faqs.html").list__link Вопросы  
                li.list__item
                    a(href="contact.html").list__link Контакты 
            .c1                   
            block content
                    
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    script(src="/assets/scripts/app.js")     
        
