block variables

doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel='stylesheet' href='./assets/styles/app.min.css')
        script(src="/assets/scripts/jquery.min.js")
        script(src="/assets/scripts/jquery-ui.min.js")
        script(src="/assets/scripts/app.js")
    
    body
        section.section.header
            .left-block 
                a(href="index.html").left-block__title Bars Hub
            .right-block
                .right-block__title Broken Axle Recovery System.
        ul.menu-block
            li.list__item
                a(href="index.html").list__link Домой
            li.list__item
                a(href="buy.html").list__link Купить 
                ul.sub-list
                    li.sub-list__item
                        a.sub-list__link  карта
                    li.sub-list__item
                        a.sub-list__link  купить
                    li.sub-list__item
                        a.sub-list__link  мой кабинет          
            li.list__item
                a(href="faqs.html").list__link Часто задаваемые вопросы  
            li.list__item
                a(href="contact.html").list__link Связаться с нами         
        .wrapper
            .content
                block content
        footer.footer
            .footer__title Copyright 2016. Bars Hub. All Rights Reserved.
    
        
        
