/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-bars-hub-slider {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 1080px;
  height: 420px;
}
.icon-bars-hub-slider2 {
  background-image: url(sprite.png);
  background-position: 0px -420px;
  width: 1080px;
  height: 420px;
}
.icon-bars-hub-slider3 {
  background-image: url(sprite.png);
  background-position: -1080px 0px;
  width: 1080px;
  height: 420px;
}
.icon-bars-hub-slider4 {
  background-image: url(sprite.png);
  background-position: -1080px -420px;
  width: 1080px;
  height: 420px;
}
.icon-bars-hub-slider5 {
  background-image: url(sprite.png);
  background-position: 0px -840px;
  width: 1080px;
  height: 420px;
}
