html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.content {
  padding-bottom: 90px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}

@import 'header.scss';
@import 'footer.scss';
@import 'normalize.scss';
@import 'menu.scss';
