.wrapper {
    
   flex : 1 0 auto;
}
body, html {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    margin: auto;
   
    display: flex;
    flex-direction: column;
}
.content{
   
    
   
}
.header-content{
    flex-grow: 1;
}
.carousel-indicators li{
    width: 20px;
}

body {}

a:hover {
    text-decoration: none;
}

.content {
    margin: auto;
}

@import'font-awesome.css';
@import 'media.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'normalize.scss';
@import 'menu.scss';
@import 'slider.scss';
@import 'icons.scss';
@import 'main.scss';
@import 'form.scss';
@import 'faq.scss';
@import 'buy.scss';
@import 'reiting.scss';
@import 'myAcount.scss';
@import 'finder.scss';
html {
    @include tablets {
        font-size: 15px;
    }
    @include phones {
        font-size: 13px;
    }
}