.wrapper {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    width: 100%;
    margin: auto;
}

a:hover {
    text-decoration: none;
}

.content {
    margin: auto;
}

.footer {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
    margin-top: 25px;
    color: #aaaaaa;
    font-size: 11.5px;
    height: 80px;
    width: 100%;
}

@import 'media.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'normalize.scss';
@import 'menu.scss';
@import 'slider.scss';
@import 'icons.scss';
@import 'main.scss';
@import 'form.scss';
@import 'faq.scss';
@import 'buy.scss';
html {
    @include tablets {
        font-size: 15px;
    }
    @include phones {
        font-size: 13px;
    }
}