html,
body {
  
}
.wrapper {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width:1080px;
  margin: auto;
  

}
.content {

  
  
 
}
.footer {
  text-align: center;
  margin-top: 25px;
  color: #aaaaaa;
  font-size: 11.5px;
 height: 80px;
}

@import 'header.scss';
@import 'footer.scss';
@import 'normalize.scss';
@import 'menu.scss';
@import 'slider.scss';
@import 'icons.scss';
@import 'main.scss';
@import 'form.scss';
@import 'faq.scss';

