.block-buy__image{
    width: 300px;
    height: 300px;
  
   
   
}
.block-buy__title{
   padding-bottom: 35px;
}
.sale{
    width: 40px;
    height: 40px;
     border-radius: 50%;
    background: green;
    left: -18px;
    top: -20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    
}
.sale__text{
    
}
.block-buy__link{
    position: relative;
    display: inline-block;
}
.block-left{
   flex-direction: column;
}
.block-right{
    flex-direction: column;
    padding-left: 35px;
    padding-top: 50px;
    
}
.block-buy{
    display: flex;
    padding-top: 35px;
}
.block-right__number{
    width: 20px;
    padding-left: 15px;
}
.block-right__product{
    font-size: 22px;
    color: #3b3b3b;
    margin-bottom: 20px;
}
.block-right__price{
color: #77a464;
font-size: 1.25em;}

.block-price{
    display: flex;
    padding-bottom: 25px;
}
.block-right__stock{
    color: green;
    padding-bottom: 25px;
}
.block-right__number{
    padding: 0;
    width: 30px;
  
}
#tabbedPanel{display: block;}  
.tabbedPanel__list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.tabbedPanel__item{
    float: left;
    padding-left: 10px;
    background: grey;
}
