.block-buy__image{
    width: 300px;
    height: 300px;
}
.block-buy__link{
   
}
.block-left{
   flex-direction: column;
}
.block-right{
    flex-direction: column;
    
}
.block-buy{
    display: flex;
}
.block-right__number{
    width: 20px;
    padding-left: 15px;
}
.block-right__product{
    font-size: 22px;
    color: #3b3b3b;
    margin-bottom: 20px;
}
.block-right__price{
color: #77a464;
font-size: 1.25em;}