.card-block  {
   padding: 50px 40px;
    color: #3b3b3b;
}
.card__title{
    font-size: 25px;
   
}
.card__descrepences{
    padding-top: 30px;
    color: #666666;
}
.card__button{
    margin-top: 20px;
}
.card__pic {
    margin-top: 30px;
}