.footer {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #aaaaaa;
    font-size: 11.5px;
    background: #2f3033;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}