.header{
    display: flex;
    margin: auto;
    flex-direction: column;
}
.title__block{
    display: flex;
    flex-direction: row;
    align-self:center;
    width: 100%;

    
    @include tablets {
        flex-direction: column;
    }
}
.left-block, .right-block{
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 120px;
    display:flex;
    @include tablets {
        height: 60px;
        width: 100%;
        justify-content:center;
        height: 60px;
    }

    
}
.header-content{
    position: relative;
}
.left-block__title{
color: #666666;
font-weight: 100;
font-size: 36px;
line-height: 1em;
display: inline-block;
text-decoration: none;

}

.right-block__title{
line-height: 1.2em;
color: #4b4b4b;
font-style: italic;
font-size: 13px;

}