.header{
    display: flex;
    padding: 0 20px;
    @include tablets {
        flex-direction: column;
    }
}
.left-block, .right-block{
    width: 50%;
    height: 120px;
    display:flex;
    align-items:center;
    @include tablets {
        height: 60px;
        width: 100%;
        justify-content:center;
        height: 60px;
    }

    
}
.header-content{
    position: relative;
}
.header{
    width: 75%;
    margin: auto;
}
.right-block{
    justify-content:flex-end;
    @include tablets {
        justify-content: center;
    }

}
.left-block__title{
color: #666666;
font-weight: 100;
font-size: 36px;
line-height: 1em;
display: inline-block;
text-decoration: none;

}

.right-block__title{
line-height: 1.2em;
color: #4b4b4b;
font-style: italic;
font-size: 13px;

}