.icons-block {}

.icons-block__item {
    display: flex;
    @include tablets {
        flex-direction: column;
    }
}

.icons-block__img--dollar:before {
    content: "\f0d6";
}

.icons-block__img--fire:before {
    content: '\f134';
}

.icons-block__img--time:before {
    content: "\f017";
}

.icons-block__pic {
    width: 65px;
    height: 65px;
    background: #3a3b3e;
    border-radius: 50%;
    position: relative;
}

.icons-block__img {
    font-family: fontawesome;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 31%;
    display: block;
    transform: translateY(-50%);
}

.icons-block__list {
    display: flex;
    width: 33%;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0 0;
    @include tablets {
        width: 100%;
    }
}

.icons-block__title {
    padding: 20px 0;
    color: #3b3b3b;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

.icons-block__descpiction {
    text-align: center;
    color: #5e5e5e;
    font-size: 13px;
    padding: 0 10px 20px 10px;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 40px 0;
    background: #F6F6F6;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
}

.title__text {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 30px;
    color: #444444;
    padding-bottom: 20px;
    border-bottom: 1px solid #EEEEEE;
    @include tablets {
        width: 80%;
        text-align: center;
    }
}

.title__decs {
    width: 80%;
    text-align: center;
    margin: auto;
    color: #666666;
    padding-top: 20px;
}