$descktop:1200px;
$laptop:992px;
$tablets:768px;
$phones:480px;
.main__description {
    width: 640px;
}

.wrapper {
    position: relative;
}

.main-title {
    color: #444444;
    margin: 1em 0;
    font-weight: 500;
    font-size: 1.5em;
    @include tablets {
        text-align: center;
    }
}

.main__description {
    line-height: 1.6em;
    color: #666666;
    font-size: 13px;
    @include tablets {
        width: 100%;
        text-align: center;
    }
}

.youtube-block {
    display: block;
    @include tablets {
        width: 100%;
    }
}

.main {
    display: flex;
    margin: auto;
    width: 70%;
    @include tablets {
        width: 100%;
        padding: 0 5px 0 5px;
    }
}

.main-block {
    display: block;
}

.aside {
    width: 41%;
    position: relative;
    @include tablets {
        display: none;
    }
}

.aside__pic {
    position: absolute;
    top: 40px;
    left: 30px;
}
.c1{

    position:fixed;
    width:50px;
    height:45px;
    bottom:85px;
    right: 20px;
    background: #343538;
    border-radius:5%;
    z-index: 10000;
  }
  .c1:hover, .c1:focus{
    filter:brightness(1.5);
    outline:none;
  }
  .c1:before, .c1:after{
    content:"";
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
  }
  
  .c1:after{
    width: 15px;
    height: 15px;
    transform:translate(-50%, -50%) rotate(45deg);
    border-top:5px solid #EEEEEE;
    border-left:5px solid #EEEEEE;
   
    
  }
