.menu-block {
    background: #343538;
    color: #ffffff;
    display: flex;
    list-style: none;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding-left: 80px;
    @include tablets {
        padding-left: 0px;
        justify-content: center;
    }
}

.list__link {
    padding: 20px 35px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #cccccc;
    text-decoration: none;
    &:hover {
        background: #248cc8;
        transition: .5s;
    }
    @include tablets {
        padding: 10px 25px;
    }
}

ul li:hover ul {
    display: block;
    transition: .5s;
    z-index: 100;
}

.sub-list {
    position: absolute;
    cursor: pointer;
    color: #cccccc;
    margin: 0;
    padding: 0;
    background: #343538;
    display: none;
}

.sub-list__item {
    list-style: none;
}

.sub-list__link {
    display: block;
    padding: 20px 35px;
    &:hover {
        background: #248cc8;
        transition: .4s;
    }
    @include tablets {
        padding: 10px 25px;
    }
}

.contain {
    width: 0px;
    height: 50px;
    background: #41484a;
    text-align: center;
    line-height: 45px;
    padding-right: 50px;
    transition: all 0.5s ease;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input {
    border: 0px;
    border-bottom: 2px solid #fff;
    background: transparent;
    width: 0%;
    padding: 5px 0;
    outline: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.contain .fa {
    color: #ffffff;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 22px;
    cursor: pointer;
}

.contain.active {
    width: 250px;
    padding-left: 25px;
    transition: all 0.5s ease;
}

.input.active {
    width: 98%;
    padding-left: 5px;
    transition: all 0.5s 0.8s ease;
}

input::placeholder {
    color: #fff;
}