.menu-block{
   
    background: #343538;
    color: #ffffff;
    display: flex;
    list-style: none;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    
}

.list__link{
padding: 20px 35px;
line-height: 1em;
display: inline-block;
position: relative;
line-height: 0.5em;
cursor: pointer;
color: #cccccc;
text-decoration: none;
&:hover{
    background: #248cc8;
    transition: .5s;   
}
}
ul li:hover ul{
    display: block;
    transition: .5s;
}

.sub-list{
    position: absolute;
    cursor: pointer;
    color: #cccccc;
    margin: 0;
    padding: 0;
    background: #343538;
    display: none;
}
.sub-list__item{
    list-style: none;
    
}
.sub-list__link{
    display: block;
    padding: 20px 35px;
    &:hover{
        background: #248cc8;
        transition: .4s;
    }
}