.menu-block {
    background: #343538;
    color: #ffffff;
    display: flex;
    z-index: 1000;
    width: 100%;
    list-style: none;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
   
    padding: 20px 35px;
    padding-left: 150px;
    @include tablets {
        padding-left: 0px;
        justify-content: center;
    }
    @include phones {
        height: 37px;
        padding: 0px 8px 0px 8px;
    }
}

.list__item{
   
    position: relative;
    cursor: pointer;
 
    
    @include phones {
        top: 65px;
        background: #343538;

    }
}



.list__link {
    padding: 20px 35px;
    text-decoration: none;
    color: #e2e2e2;
    
    &:hover {
        background: #00bcff;
        transition: .5s;
        color: #e2e2e2;
    }
    @include tablets {
        padding: 20px 20px;

    }
    @include phones {
         display: none;
         padding: 10px 15px;
         



    }
    
}
.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 37px;
    
   
}
.active_link{
    display: flex;
    justify-content: center;
}

ul li:hover ul {
    display: block;
    transition: .5s;
    z-index: 100;
}

.sub-list {
    position: absolute;
    cursor: pointer;
    color: #cccccc;
    margin: 0;
    padding: 0;
    background: #343538;
    display: none;
    
}

.sub-list__item {
    list-style: none;
}

.sub-list__link {
    display: block;
    padding: 20px 35px;
    color: #e2e2e2;
    width: 190px;
    background: #464646;
    text-decoration: none;
       &:hover {
        background: #00bcff;
        transition: .4s;
        color: #e2e2e2;
    }
    @include tablets {
        padding: 10px 25px;
    }
}

.wrapper__find {}

.container__find {
    width: 0px;
    height: 50px;
    background: #41484a;
    text-align: center;
    line-height: 45px;
    padding-right: 50px;
    transition: all 0.5s ease;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input {
    border: 0px;
    border-bottom: 2px solid #fff;
    background: transparent;
    width: 0%;
    padding: 5px 0;
    outline: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.container__find .fa {
    color: #ffffff;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 22px;
    cursor: pointer;
}

.container__find.active {
    width: 200px;
    padding-left: 25px;
    transition: all 0.5s ease;
}

.input.active {
    width: 98%;
    padding-left: 5px;
    transition: all 0.5s 0.8s ease;
}

.menu-block__hidden {
    display: none;
    @include phones {
        display: flex;
        cursor: pointer;
        line-height: 50px;
        flex-direction: column;
        justify-content: center;
    }
    .active {
        display: none;
    }
}

.menu-block__line {
    width: 50px;
    height: 3px;
    background: crimson;
    margin: 5px 0;
    display: block;
    margin-right: 30px;
}
.container__search{
    width: 0px;
    background: #41484a;
    text-align: center;
    line-height: 45px;
    padding-right: 50px;
    transition: all 0.5s ease;
    border-radius: 5px;
    position: relative;
   
  }
  .container__input{
    border: 0px;
    border-bottom: 2px solid #fff;
    background: transparent;
    width: 0%;
    padding: 5px 0;
    outline: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  .container__search .fa{
    color: #ffffff;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 22px;
    cursor: pointer;
    @include tablets {
        top: 10px;
    }
  }
  .container__search.active{
    width: 250px;
    padding-left: 25px;
    transition: all 0.5s ease;
  }
  .container__input.active{
    width: 98%;
    padding-left: 5px;
    transition: all 0.5s 0.8s ease;
  }
  .visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

.hamburger2 .bar2,
.hamburger3 .bar3,
.hamburger4 .bar4 {
    top: 13.5px;
}

.hamburger4 .bar5 {
    bottom: 0px;
}

.hamburger4 .bar {
    transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
}

.hamburger4 .bar2 {
    width: 1px;
    transform: rotate(90deg);
    left: 13.5px;
}

.hamburger4 .bar3 {
    width: 1px;
    left: 13.5px;
    
}
.hamburger {

    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 1000;
    cursor: pointer;
    @include phones {
        display: block;
        
}
    
}
.label_check {
    position: absolute;
    top: 123px;
    left: 5px;

}
.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: #e2e2e2;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}
.checkbox4:checked + label > .hamburger4 > .bar1{
    top: 13.5px;
    background-color: transparent;
}

.checkbox4:checked + label > .hamburger4 > .bar2{
    left: 0px;
    width: 30px;
    transform: rotate(45deg);
}

.checkbox4:checked + label > .hamburger4 > .bar3{
    left: 0;
    width: 30px;
    transform: rotate(-45deg);
}

.checkbox4:checked + label > .hamburger4 > .bar4{
    background-color: transparent;
}

.checkbox4:checked + label > .hamburger4 > .bar5{
    bottom: 13.5px;
    background-color: transparent; 
}