.menu-block {
    background: #343538;
    color: #ffffff;
    display: flex;
    z-index: 1000;
    width: 100%;
    list-style: none;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding-left: 150px;
    @include tablets {
        padding-left: 0px;
        justify-content: center;
    }
    @include phones {
        justify-content: space-between;
        padding: 0px 8px 0px 8px;
    }
}
.list__hide{
    width: 30px;
    position: relative;
    cursor: pointer;
}
.list__menu{
    display: none;
    background: #fff;
    height: 2px;
    position: absolute;
    width: 100%;
    
    @include phones {
        display: block;
        
}
}
.list__menu--up{top:30%}
.list__menu--middle{top:50%}
.list__menu.list__menu--bottom{bottom: 30%}
.list__link {
    padding: 20px 35px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #e2e2e2;
    text-decoration: none;
    &:hover {
        background: #00bcff;
        transition: .5s;
        color: #e2e2e2;
    }
    @include tablets {
        padding: 14px 20px;

    }
    @include phones {
         display: none;
        padding: 10px 15px;
    }
    .active {
        display: inline-block;
    }
}

ul li:hover ul {
    display: block;
    transition: .5s;
    z-index: 100;
}

.sub-list {
    position: absolute;
    cursor: pointer;
    color: #cccccc;
    margin: 0;
    padding: 0;
    background: #343538;
    display: none;
    
}

.sub-list__item {
    list-style: none;
}

.sub-list__link {
    display: block;
    padding: 20px 35px;
    color: #e2e2e2;
    width: 190px;
    background: #464646;
    text-decoration: none;
       &:hover {
        background: #00bcff;
        transition: .4s;
        color: #e2e2e2;
    }
    @include tablets {
        padding: 10px 25px;
    }
}

.wrapper__find {}

.container__find {
    width: 0px;
    height: 50px;
    background: #41484a;
    text-align: center;
    line-height: 45px;
    padding-right: 50px;
    transition: all 0.5s ease;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input {
    border: 0px;
    border-bottom: 2px solid #fff;
    background: transparent;
    width: 0%;
    padding: 5px 0;
    outline: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.container__find .fa {
    color: #ffffff;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 22px;
    cursor: pointer;
}

.container__find.active {
    width: 200px;
    padding-left: 25px;
    transition: all 0.5s ease;
}

.input.active {
    width: 98%;
    padding-left: 5px;
    transition: all 0.5s 0.8s ease;
}

.menu-block__hidden {
    display: none;
    @include phones {
        display: flex;
        cursor: pointer;
        line-height: 50px;
        flex-direction: column;
        justify-content: center;
    }
    .active {
        display: none;
    }
}

.menu-block__line {
    width: 50px;
    height: 3px;
    background: crimson;
    margin: 5px 0;
    display: block;
    margin-right: 30px;
}
.container__search{
    width: 0px;
    background: #41484a;
    text-align: center;
    line-height: 45px;
    padding-right: 50px;
    transition: all 0.5s ease;
    border-radius: 5px;
    position: relative;
   
  }
  .container__input{
    border: 0px;
    border-bottom: 2px solid #fff;
    background: transparent;
    width: 0%;
    padding: 5px 0;
    outline: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  .container__search .fa{
    color: #ffffff;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 22px;
    cursor: pointer;
    @include tablets {
        top: 10px;
    }
  }
  .container__search.active{
    width: 250px;
    padding-left: 25px;
    transition: all 0.5s ease;
  }
  .container__input.active{
    width: 98%;
    padding-left: 5px;
    transition: all 0.5s 0.8s ease;
  }
      