.acount-block {
    display: block;
    margin-left: 200px;
    margin-right: 20px;
    margin-top: 50px;
    overflow: hidden;
    width: 50%;
    @include tablets {
        margin-left: 100px;
        width: inherit;
    }
    @include phones {
        margin-left: 50px;
    }
}

.acount__title,
.acount__login {
    color: #3b3b3b;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.35em;
}

.acount__title,
.acount__login {
    padding-bottom: 20px;
}

.acount-form {
    border: 1px solid #d3ced2;
    border-radius: 3px;
    padding: 30px 20px;
    @include tablets {}
}

.acount__label,
.acount__intr {
    display: block;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.acount__intr {
    border-radius: 3px;
    width: 100%;
    padding: 3px;
}

.acount__button {}