.section{
    
}
.slider__list{
    width: 100%;
    margin: 0;
    list-style: none;
    padding: 0;
   white-space: nowrap;
   
}
.slider__item{
    width: 100%;
    display: inline-flex;
    white-space: normal;

}
.slider__pick{
    min-width: 100%;
    height: 420px;
}
.slider__content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.slider__derection{
    background: url(../images/gallery-prev.png);
    height: 100px;
    width: 30px;
    position: absolute;
    top: 40%;
    z-index: 100;
    opacity: 0.9;
    cursor: pointer;
}
.slider__derection--next{
background:url(../images/gallery-next.png);
right: 0;
}


